.clients {
  max-width: 450px;
  padding-bottom: 60px;
  padding-top: 60px;
  margin: 0 auto;
}
.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}
.clients__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.clients__link {
  text-decoration: none;
  transition: --color4 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    --color4: var(--hover-focus-color);
  }
}
.clients__border {
  width: 210px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border-color: var(--hover-focus-color);
  }
}
.clients__icon {
  margin-top: 16px;
  margin-left: 52px;
}
@media screen and (min-width: 768px) {
  .clients {
    max-width: 738px;
  }
  .clients__border {
    width: 226px;
  }
  .clients__icon {
    margin-left: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    max-width: 1200px;
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .clients__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 50px;
  }
  .clients__list {
    flex-wrap: nowrap;
  }
  .clients__border {
    width: 170px;
  }
  .clients__icon {
    margin-left: 32px;
  }
}
