.form__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--base-color);
  margin-bottom: 12px;
}
.form__label {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: var(--minor-color);
}
.form__name {
  display: block;
  margin-bottom: 4px;
  margin-top: 10px;
  color: var(--minor-color);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.form__box {
  display: block;
  position: relative;
}
.form__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  outline: none;
  &:focus {
    border-color: var(--hover-focus-color);
  }
}

.form__icon {
  pointer-events: none;
  position: absolute;
  top: 30%;
  left: 12px;
}
.form__input:focus-within + .form__icon {
  fill: var(--hover-focus-color);
}
.form__comment {
  display: block;
  resize: none;
  outline: none;
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  color: var(--minor-color, 0.5);
  &:focus {
    border-color: var(--hover-focus-color);
  }
}

.form__checkbox {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}
.form__checkbox-hide {
  display: none;
}
.form__checkbox-shown {
  display: flex;
  width: 16px;
  height: 15px;
  border: 2px solid var(--base-color);
}
.form__checkbox-hide:checked + .form__checkbox-shown {
  background-color: var(--hover-focus-color);
  border: none;
}
.form__check {
  margin-left: 8px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: var(--minor-color);
}
.form__link {
  color: var(--hover-focus-color);
}
@media screen and (min-width: 1200px) {
  .form__title {
    line-height: 23px;
  }
  .form__check {
    font-size: 14px;
    line-height: 24px;
  }
}
