.logo {
  font-family: var(--second-font);
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo__part1 {
  color: var(--logo-first-color);
}
.logo__part2 {
  color: var(--logo-second-color);
}
.logo__part2--footer {
  color: var(--contrast-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 31px;
  }
}
