.nav-button {
  border: none;
  background-color: var(--first-background);
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--hover-focus-color);
  }
}
@media screen and (min-width: 768px) {
  .nav-button {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .nav-button {
    display: none;
  }
}
