.products {
  padding: 60px 60px;
}
.poducts__filter {
  max-width: 450px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-bottom: 40px;
}
.products__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.products__card {
  margin: 0;
  flex-basis: calc((100% - 60px) / 3);
  border-bottom: 1px solid var(--border-image);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.products__presentation {
  position: relative;
  overflow: hidden;
}
.products__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--contrast-color);
  text-align: left;
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products__card:hover .products__overlay {
  transform: translateY(-100%);
}
.products__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
}
.products__description {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--minor-color);
  margin-left: 24px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .poducts__filter {
    max-width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .products {
    padding: 94px 94px;
  }
  .poducts__filter {
    max-width: 1200px;
    margin-bottom: 50px;
  }
}
